[Unit]
Description=Start ScaleIO REX-Ray

[Service]
Type=simple
ExecStart=/rexray.sh
Requires=configure-sdc.service
After=configure-sdc.service

[Install]
WantedBy=multi-user.target
